@media (max-width: 920px) {
  .menu li a {
    font-size: 15px;
    margin-left: 1rem;
  }
  .about-text-button button {
    margin-bottom: 2rem;
  }
  .review-content h2 {
    font-size: 4rem;
  }
}

@media (max-width: 870px) {
  .about-text h2 {
    margin-top: 1rem;
    font-size: 2.4rem;
  }
  .about-text p {
    font-size: 14px;
    line-height: 24px;
  }
  .about-text-button button {
    color: #151515c4;
    font-size: 0.7rem;
    width: 8rem;
  }
  .chef-content {
    grid-template-columns: 1fr;
  }
  .meet-single {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 840px) {
  .review-content h2 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .about-text h2 {
    margin-top: 1rem;
  }
  .about-text p {
    width: 91%;
  }
}
@media (max-width: 700px) {
  .hero-contain {
    grid-template-columns: 1fr;
  }
  .about {
    padding: 5rem 0;
  }
  .about-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about-img {
    width: 60%;
    margin: 0 auto;
  }
  .about-img img {
    margin-bottom: 5rem;
  }
  .about-text {
    text-align: center;
  }
  .about-bg::after {
    width: 100%;
    height: 50%;
    top: 54%;
  }
  .about-text h2 {
    font-size: 30px;
  }
  .about-text p {
    width: 100%;
  }
  .about-text-button button {
    margin-bottom: 2rem;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .review-content h2 {
    width: 75%;
  }
}
@media (max-width: 650px) {
  .chef-content {
    grid-template-columns: 1fr;
  }
  .review-content h2 {
    font-size: 3rem;
  }
}
@media (max-width: 637px) {
  .about-text h2 {
    margin-top: 1rem;
  }
  .about-text-button button {
    margin-bottom: 2rem;
  }
  .about-content {
    gap: 1rem;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .hero-contain {
    padding: 6rem 0;
  }
  .about-img img {
    margin-bottom: 1rem;
  }
  .about-bg::after {
    top: 48%;
  }
  .meet-single {
    width: 70%;
  }
  .meet-content h2 {
    font-size: 2rem;
  }
  .review-content p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about-text h2 {
    margin-top: 2rem;
    padding: 1rem;
  }
  .about-text-button button {
    margin-bottom: 4rem;
    width: 9rem;
  }
  .review-content h2 {
    width: 100%;
  }
}
@media (max-width: 481px) {
  .review-content h2 {
    font-size: 3rem;
  }
}
@media (max-width: 460px) {
  .about {
    padding: 5rem 0 2rem;
  }
  .about-img img {
    margin-bottom: 2rem;
  }
  .about-text h2 {
    margin-top: 1rem;
  }
  .about-bg::after {
    top: 34%;
    height: 60%;
  }
  .about-text p {
    font-size: 12px;
  }
  .about-text-button button {
    margin-bottom: 5rem;
  }
  .meet-content h2 {
    font-size: 1.8rem;
  }
  .meet-content p {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .meet-single {
    width: 100%;
  }
  .footer-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .layout-container {
    padding: 0 2rem;
  }
  .hero-text h1 {
    font-size: 3rem;
    letter-spacing: 4px;
  }
  .hero-text h3 {
    font-size: 1.4rem;
    margin-left: 16%;
    margin-bottom: -10px;
    letter-spacing: 2px;
  }
  .hero-button button {
    font-size: 0.8rem;
    width: 10rem;
  }
  .about {
    padding: 3rem 0 2rem;
  }
  .meet-content h2 {
    font-size: 1.2rem;
  }
  .review-content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 350px) {
  .hero-text h1 {
    letter-spacing: 2px;
    margin-left: 20px;
  }
  .hero-button button {
    width: 9rem;
    margin-left: 3px;
  }
}
@media (max-width: 334px) {
  .hero-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1px;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text p {
    line-height: 24px;
    font-size: 14px;
    margin-left: 29px;
  }
  .hero-button button {
    margin-left: 26px;
  }
  .about-text h2 {
    margin-top: 6rem;
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 10px;
    line-height: 15px;
  }
  .about-bg {
    z-index: 1;
  }
}
@media (max-width: 318px) {
  .meet-content h2 {
    font-size: 1.5rem;
  }
  .chef-content {
    gap: 1rem;
  }
  .meet-content p {
    font-size: 8px;
  }
  .meet-text h2 {
    font-size: 12px;
  }
  .meet-single {
    margin: 0;
  }
  .footer-icon {
  }
}
@media (max-width: 300px) {
  .about-img {
    width: 90%;
  }
  .about-text h2 {
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  .about-text span {
    font-size: 0.8rem;
  }
  .about-bg::after {
    top: 41%;
    height: 50%;
  }
  .about-text-button button {
    font-size: 10px;
    width: 5rem;
  }
  .review-content h2 {
    font-size: 1.8rem;
  }
  .review-content p {
    font-size: 13px;
  }
  .footer-single h2 {
    font-size: 1.6rem;
  }
  .footer-single p {
    line-height: 1.7rem;
    font-size: 0.8rem;
  }
  .footer-icon {
    display: flex;
    gap: 0rem;
  }
}
@media (max-width: 290px) {
  .review-content p {
    line-height: 15px;
    font-size: 10px;
  }
  .footer-single h2 {
    font-size: 1rem;
  }
  .footer-single p {
    font-size: 10px;
  }
  .footer-content li a {
    font-size: 10px;
  }
}
/* Responsive Menu */
@media (max-width: 800px) {
  .menu {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
}
