/*====================
    GENERAL CSS
 ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: Arial;
}
.layout-container {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem;
}
/*======================
    HEADER CSS
=======================*/
.header {
  background-color: #4d7f4e;
  padding: 2rem 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.logo .svg-inline--fa {
  font-size: 2rem;
}
.menu li {
  list-style: none;
  display: inline;
  padding: 7px;
}
.menu li a {
  text-decoration: none;
  display: inline;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 2rem;
}
.header-icon {
  cursor: pointer;
}
/*===================
     MOBAIL-MENU CSS
 ====================*/
#hamburger-menu {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-menu div {
  width: 28px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu {
  background-color: rgba(242, 242, 242, 0.902);
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  height: 100%;
  width: 100%;
}
.mobile-menu li {
  margin-top: 2rem;
  list-style: none;
}
.mobile-menu li a {
  text-decoration: none;
}
/*=====================
   HERO SECTION CSS
=====================*/
.hero-section {
  background-color: #67b35b;
}
.hero-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  gap: 3rem;
  padding: 9rem 0;
  align-items: center;
}
.hero-text {
  color: #fff;
}
.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
}
.hero-text h3 {
  font-size: 2rem;
  font-family: "Lobster", sans-serif;
  margin-left: 12%;
  margin-bottom: -15px;
  letter-spacing: 3px;
}
.hero-text p {
  margin-bottom: 2rem;
  line-height: 27px;
  font-size: 16px;
}
.hero-button button {
  color: rgb(52, 80, 68);
  background-color: rgb(240, 206, 72);
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  font-size: 1rem;
  width: 13rem;
}
.hero-img img {
  width: 100%;
}
/*=====================
   ABOUT SECTION 
=====================*/
.about {
  padding: 7rem 0;
}
.about-bg {
  position: relative;
}
.about-bg::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 100%;
  background-color: yellow;
  border-radius: 640px 0 0 640px;
  top: 0;
  right: 0;
  z-index: -1;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.about-img img {
  width: 100%;
}
.about-text {
  color: rgb(10, 172, 96);
  position: relative;
  z-index: 1;
}
.about-text h2 {
  margin-bottom: 1rem;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
  color: #34733d;
  font-size: 3rem;
}
.about-text span {
  color: #34733d;
  font-style: italic;
}
.about-text p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #6e9073;
  font-size: 15px;
  line-height: 26px;
}
.about-text-button button {
  color: #09261cc4;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  font-size: 1rem;
  width: 13rem;
  font-weight: 600;
}
/*=====================
   MEET SECTION 
=====================*/
.meet-section {
  background-color: #50934c;
  padding: 4rem;
}
.meet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.chef-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.meet-content h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
}
.meet-content p {
  font-size: 13px;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}
.meet-single {
  background-color: #3d763f;
  color: #fff;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #1c421d;
}
.meet-single img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.meet-text {
  text-align: center;
  padding: 1rem;
}
.meet-text h2 {
  font-size: 18px;
  margin-bottom: 0.4rem;
}
.meet-text p {
  font-size: 13px;
}
/*=====================
   REVIEW SECTION 
=====================*/
.review {
  padding: 6rem 0;
}
.review-content {
  text-align: center;
}
.review-content h2 {
  font-size: 6rem;
  color: #4f914b;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
  width: 60%;
  margin: 0 auto;
}
.review-content p {
  color: #0f7247;
  width: 70%;
  margin: 25px auto;
  line-height: 1.6rem;
}
.review-button {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.review-button input {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: 2px solid #387a3d;
  padding: 9px 10px;
}
.review-button button {
  border-radius: 20px;
  background-color: #387a3d;
  color: #fff;
  width: 100%;
  padding: 13px;
  border: 0;
  cursor: pointer;
}
/*=====================
   FOOTER SECTION 
=====================*/
.footer {
  background-color: #387a3d;
  padding: 4rem;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  color: #fff;
}
.footer-content li {
  list-style: none;
  margin: 20px 0;
}
.footer-content li a {
  text-decoration: none;
  color: #fff;
}
.footer-single {
  margin-right: 1.8rem;
}
.footer-single h2 {
  margin-bottom: 1.6rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
.footer-single p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
}
.footer-icon .svg-inline--fa {
  background-color: #fff;
  color: #07814c;
  padding: 6px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
